body{
	
	}

.cont1{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 8px 8px 15px grey;
	background: rgb(0,36,15);
	background: linear-gradient(90deg, rgba(0,36,15,1) 0%, rgba(10,0,9,1) 0%, rgba(4,19,74,1) 100%);
}
h1,h2,p{
	text-align: center;
	color:goldenrod;
	}

h1{
	padding-top: 1rem;
}

img{
	display:block;
	margin:auto;
	width: 20rem;
	margin-top: 2rem;
}