.cont1{
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 8px 8px 15px grey;
	background: rgb(0,36,15);
	background: linear-gradient(90deg, rgba(0,36,15,1) 0%, rgba(10,0,9,1) 0%, rgba(4,19,74,1) 100%);
}
h1,h2,p{
	text-align: center;
	}

h1{
	padding-top: 1rem;
}

h4 {
	text-align: right;
}

h5 {
	text-align: left;
	}

h1{
	padding-top: 1rem;
}

table {
	margin:auto;
}

td {
  padding: 5px;
}

.date {
	margin-bottom: 2.5rem;
}


.flaskimg{
	display:block;
	margin:auto;
	width: 80%;
	max-width: 100px;
}

img {
	max-width: 80%;
	margin: auto;
}

.fuelwallpaper {
	max-width: 100%;
	margin-bottom: 1rem;
}
