
{% extends "main_template.html" %}
{% block title %}Fuel price{% endblock %}

{% block content %}

<!-- Title -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fuel price</h1>
  </div>
</div>

<!-- CARDS -->
<div class="container">
  <img class="fuelwallpaper d-block w-100" src={{ url_for("static", filename = "fuelwallpaper.jpg")}} alt="banner">

  <div class="row g-3">

    <!-- CIRCLE K -->
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card">
        <img src={{ url_for("static",filename="circlek.jpg")}} alt="circklek logo" class="card-img-top">
          <div class="card-body">
            <table>
              <tr>
                <td>miles 95</td>
                <td>{{ c95 }}</td>
              </tr>
              <tr>
                <td>miles PLUS 98</td>
                <td> {{ c98 }}</td>
              </tr>
              <tr>
                <td>miles D</td>
                <td>{{ cmilesD }}</td>
              </tr>
              <tr>
                <td>miles PLUS D</td>
                <td>{{ cplusD }}</td>
              </tr>
              <tr>
                <td>Autogāze</td>
                <td>{{ cgaze }}</td>
              </tr>
            </table>
          </div>
      </div>
    </div>
    <!-- NESTE -->
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card">
        <img src={{ url_for("static",filename="neste.jpeg")}} alt="Neste logo" class="card-img-top">
        <div class="card-body">
          <table>
            <tr>
              <td>Neste Futura 95</td>
              <td>{{ n95 }}</td>
            </tr>
            <tr>
              <td>Neste Futura 98</td>
              <td>{{ n98 }}</td>
            </tr>
            <tr>
              <td>Neste Futura D</td>
              <td> {{ nd }}</td>
            </tr>
            <tr>
              <td>Neste Pro Diesel</td>
              <td>{{ npd }}</td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- VIRSI -->
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card">
        <img src={{ url_for("static",filename="virsi.jpeg")}} alt="Virsi logo" class="card-img-top">
        <div class="card-body">
          <table>
            <tr>
              <td>95E</td>
              <td>{{ v95 }}</td>
            </tr>
            <tr>
              <td>98E</td>
              <td>{{ v98 }}</td>
            </tr>
            <tr>
              <td>DD</td>
              <td>{{ vdd }}</td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
            </tr>
            <tr>
              <td>LPG</td>
              <td>{{ vlpg }}</td>
            </tr>
          </table>
        </div>

      </div>
    </div>
        <!-- VIADA -->
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card">
        <img src={{ url_for("static",filename="viada.jpg")}} alt="viada logo" class="card-img-top">
          <div class="card-body">
            <table>
              <tr>
                <td>95</td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>98</td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>D</td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>D Multi X</td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>Gāze</td>
                <td>TBC</td>
              </tr>
            </table>
          </div>
      </div>
    </div>
    <!-- KOOL -->
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card">
        <img src={{ url_for("static",filename="kool.jpg")}} alt="Kool logo" class="card-img-top">
        <div class="card-body">
          <table>
            <tr>
              <td>95</td>
              <td>TBC</td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
            </tr>
            <tr>
              <td>D</td>
              <td>TBC</td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- GOTIKA AUTO -->
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card">
        <img src={{ url_for("static",filename="gotika.jpg")}} alt="Gotika Auto logo" class="card-img-top">
        <div class="card-body">
          <table>
            <tr>
              <td>95E</td>
              <td>TBC</td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
            </tr>
            <tr>
              <td>D</td>
              <td>TBC</td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
            </tr>
          </table>
        </div>

      </div>
    </div>

  </div>
</div>

{% endblock %}