{% extends "main_template.html" %}
{% block title %}Weather API{% endblock %}

{% block content %}

<!-- Home page title-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Get Historical Weather Data</h1>
  </div>
</div>

<div class="container">
  <img class="fuelwallpaper d-block w-100" src={{ url_for("static", filename = "history.jpg")}} alt="banner">


  <div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-body">
      <h1 class="display-5">{{ error_msg }} {{ coordinates["city"] }}</h1>
      <h4 class="center">Coordinates lon: {{ coordinates["lon" ]}}, lat: {{ coordinates["lat"] }}</h4>
      <h4 class="center">Minimum temperature in past year : {{ absolute_minimum }}C on {{ minimum_date }}</h4>
      <h4 class="center">Average temperature in past year : {{ average_temp }} C</h4>
      <h4 class="center">Maximum temperature in past year : {{ absolute_maximum }}C on {{ maximum_date }}</h4>
      
      <img class="fuelwallpaper d-block w-100" src={{ url_for("static", filename="plot.jpg")}} alt="plotted chart">

      
      <form action = "" method="post"> 
      <input class="form-control form-control-lg text-center" type="text" name="cdinput" placeholder="Enter Name of the city">
      <input type="submit" class="w-100 btn btn-lg btn-outline-dark mt-2" value="Get history">
      <a class="w-100 btn btn-lg btn-outline-dark mt-2" href="{{ url_for("download_csv") }}">Download CSV File</a>
      <a class="w-100 btn btn-lg btn-outline-dark mt-2" href="{{ url_for("download_pdf") }}">Download PDF File</a>
      </form>

    </div>
  </div>
</div>

{% endblock %}